### Build ###
/build/
/out/

### Gradle ###
/.gradle/
/gradle-app.setting

### IntelliJ IDEA ###
/.idea/
/*.iml

### VS Code ###
.vscode/

### Logs ###
*.log

### Database (PostgreSQL data folder) ###
/data/

### Allure ###
/allure-results/
/allure-report/

### JARs (кроме wrapper) ###
*.jar
!gradle/wrapper/gradle-wrapper.jar

### Project sources allowed ###
!src/main/**
!src/test/**

